h1 {
    text-align: center;
}

.super-mario { 
    width: 300px;
}

.goomba {
    width: 200px;
    position: absolute;
    top: 510px;
    left: 50px;
}

.bowser {
    width: 400px;
    left: 900px;
    position: absolute;
}

.baloon {
    top: 60px;
    left: 600px;
    position: absolute;
}

.word {
    position: absolute;
    left: 650px;
    top: 120px;
    z-index: 10;
}