@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
    font-family: 'Barlow', sans-serif;
    font-size: 16px;
    background-color: #F5F1F0;
}

h1, h2, h3 {
    font-family: 'Poppins', sans-serif;
}

h2 {
    font-size: 30px;
    text-align: center;
}

h3 {
    font-size: 20px;
}

#head {
    text-align: center;
    background-color: #5A798C;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

#navigation a {
    color: black;
    font-size: 20px;
    padding: 15px;
}

img {
    width: 350px;
    border: solid 4px #DF6F26;
}

#first-container {
    display: flex;
    text-align: justify;
    width: 60%;
}

#first-image {
    padding-right: 20px;
}

#first-paragraph {
    padding-right: 20px;
}

#about {
    padding-top: 20px;
}